<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        <bean id="MyXMLApp" class="com.bakigoal.di.consumer.MyXMLApplication">
            <constructor-arg>
                <bean class="com.bakigoal.di.services.TwitterService"/>
            </constructor-arg>
        </bean>
    -->
    <bean id="twitter" class="com.bakigoal.di.services.TwitterService"/>
    <bean id="myXMLApp" class="com.bakigoal.di.consumer.MyXMLApplication">
        <property name="service" ref="twitter"/>
    </bean>
</beans>